<% player_1 = @game.player_1 %>
<% player_2 = @game.player_2 %>

<div>
  <h1><%= @game.players.last.name %> attacked <%= @game.players.first.name %>!</h1>
</div>
<div>
  <h1><%= player_1.name %>: <%= player_1.hp_check %>/100 HP</h1>
</div>
<div>
  <h1><%= player_2.name %>: <%= player_2.hp_check %>/100 HP</h1>
</div>

<form action='/play'>
  <input type='submit' value='Return' />
</form>
